
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-logo">
            <h1>
                Sadhai
            </h1>
        </div>
        <div class="nav-links">
            <a href="/" class="links">Home</a>
            <a href="/account" class="links">My Journals</a>
            <a href="/login" class="links">Login</a>
            <a href="/register" class="links">Register</a>
        </div>
    </div>
    <div class="hero-section">
        <div class="centered-text">
            <h2>
                "Capturing Moments, Crafting Stories: Your Journal, Your Journey."
            </2>
        </div>
        <div class="buttons">
            <a href="/account" class="btn">Write your first journey</a>
        </div>
    </div>
</body>
</html>