<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="main">
    <div class="login-box">
        <div class="login-head">
            <h2>Login</h2>
        </div>
        <div class="error">
            <p><%= error2 %></p>
        </div>
        <div class="form-box">
            <form action="/login" method="post">
                <input type="email" name="username" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="ask">
            <p>Not registered yet ?<a href="/register" class="asklink"> Click here !</a></p>
            
        </div>
    </div>
</div>
</body>

</html>